<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bio.css">
    <link rel="stylesheet" href="../css/bioheader.css">
    <!-- <link rel="stylesheet" type="text/css" href="../css/slick.css"/> -->


    <!-- css -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> -->

    <!-- css -->
    <title>Bio</title>
</head>

<body>

    <header>
        <h1 class="logo">
         BioLabarotira
        </h1>
        <nav>
         <!-- <button id="home_btn">Home</button> -->
         <a href="../templates/index.html">Home</a>
         <a href="../templates/index.html">About</a>
         <a href="../templates/index.html">Menu</a>
         <a href="../templates/index.html">Contact</a>
        </nav>
        <button class="order-online">Website</button>
       </header>
       <div>
       <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
       <defs>
       <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
       </defs>
       <g class="parallax">
       <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(140,255,140,0.7" />
       <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(140,255,140,0.5)" />
       <use xlink:href="#gentle-wave" x="48" y="5" fill="lightgreen" />
       <use xlink:href="#gentle-wave" x="48" y="7" fill="green" />
       </g>
       </svg>
       </div>

    <main>
        <div class="container2">
            <div class="main_left">
                <div class="left_title">
                    <p>If you don't understand</p>
                </div>
                <div class="link_topics">
                    <ul>
                        <li><a href="https://www.genscript.com/gsfiles/techfiles/Design_high_specificity_CRISPR_Cas9_gRNAs_principles_tools.pdf"> Технология Crispr </a></li>
                        <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4382898/">National Center for Biotechnology Information</a></li>
                        <li><a href="https://crispr.dbcls.jp/">Существующие программные продукты по работе с Сrispr </a></li>
                        <li><a href="https://www.nature.com/scitable/topicpage/gene-expression-14121669/">Структура ДНК, генетического кода и принципы передачи генетической информации</a></li>
                        <li><a href="https://www.genscript.com/gsfiles/techfiles/Design_high_specificity_CRISPR_Cas9_gRNAs_principles_tools.pdf"> Технология Crispr </a></li>
                        <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4382898/">National Center for Biotechnology Information</a></li>
                        <li><a href="https://crispr.dbcls.jp/">Существующие программные продукты по работе с Сrispr </a></li>
                        <li><a href="https://www.nature.com/scitable/topicpage/gene-expression-14121669/">Структура ДНК, генетического кода и принципы передачи генетической информации</a></li>

                    </ul>

                </div>
                <!-- <div class="colors_genders">
                    <div class="a">a</div>
                    <div class="t">t</div>
                    <div class="g">g</div>
                    <div class="c">c</div>
                </div> -->
            </div>

            <div class="main_right">
                <div class="title_generator">
                    Biology DNK
                </div>
                <div class="enter_data">

                    <textarea style="width: 563px; height: 372px;" name="get_data" id="get_data" placeholder="input"
                        cols="70" rows="20"></textarea>
                        <input type="file" id="file-input">
                        <button id="btn_read_file" onclick="readFile()">Read file</button>
                    <div class="btns">
                        <input id="generate" type="submit" value="generate">

                    </div>

                </div>
                <div class="result_generate">
                    <label for="">first</label>
                    <input type="text" id="input_data" placeholder="input data">
                    <br>
                    <label for="">Generate</label>
                    <input type="text" id="generated_data" name="generated_data" placeholder="out" />
                </div>
            </div>

        </div>
        <div class="container">
            <div class="main_left_bottom">
                <div class="btns_generate">
                    
                    <input id="generate_to_color_s_mod" type="submit" value="S-mod">
                    <input id="generate_to_color_k_mod" type="submit" value="K-mod">
                    <button id="clearing0">Clear</button>
                </div>
            </div>

            <style>

            </style>
            <div class="main_right_bottom">
                <div class="title_color">
                    Analiz data
                </div>
                
       <div class="box_data">
                <div class="data_color">
                    <div class="numerous">
                        <ul>
                            <li class="ed">1</li>
                            <li class="ed">2</li>
                            <li class="ed1">3</li>
                            <li class="ed1">4</li>
                            <li class="ed1">5</li>
                            <li class="ed1">6</li>
                            <li class="ed1">7</li>
                            <li class="ed1">8</li>
                            <li class="ed0">9</li>
                            <li class="mn">10</li>
                            <li class="mn">11</li>
                            <li class="mn">12</li>
                            <li class="mn">13</li>
                            <li class="mn">14</li>
                            <li class="mn1">15</li>
                            <li class="mn1">16</li>
                    
                            <li class="mn1">17</li>
                            <li class="mn1">18</li>
                            <li class="mn1">19</li>
                            <li class="mn1">20</li>
                            <li class="mn1">21</li>
                            <li class="mn">22</li>
                            <li class="mn">23</li>
                            <li class="mn">24</li>
                            <li class="mn1">25</li>
                            <li class="mn1">26</li>
                    
                            <li class="mn1">27</li>
                            <li class="mn1">28</li>
                            <li class="mn1">29</li>
                            <li class="mn1">30</li>
                            <li class="mn1">31</li>
                            <li class="mn1">32</li>
                            <li class="mn1">33</li>
                            <li class="mn1">34</li>
                            <li class="mn1">35</li>
                       
                            <li class="mn1">36</li>
                            <li class="mn1">37</li>
                            <li class="mn1">38</li>
                            <li class="mn1">39</li>
                            <li class="mn1">40</li>
                            <li class="mn1">41</li>
                            <li class="mn1">42</li>
                            <li class="mn1">43</li>
                            <li class="mn1">44</li>
                            <li class="mn1">45</li>
                            <li class="mn1">46</li>
                 
                            <li class="mn1">47</li>
                            <li class="mn1">48</li>
                            <li class="mn1">49</li>
                            <li class="mn1">50</li>
                        </ul>
                    </div>
                    <div class="vertical_num">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                        </ul>
                    </div>
                    <canvas id="canvas" width="1000px" height="400px"></canvas>

                </div>
                <div class="colors_genders">
                    <div class="a">a</div>
                    <div class="t">t</div>
                    <div class="g">g</div>
                    <div class="c">c</div>
                </div>
       </div>
            </div>
            <div class="btn_res">
                <div class="center_div_window">
                    <input type="button" id="segment" value="Segment">
        
                <button id="clearing">Clear</button>
                <div class="slick_canvas">
                    <button id="prev"><span><</span></button>
                    <p id="counter_p"><span id="counter">1</span>/3</p>
                    <button id="next"><span>></span></button>
                  </div>
                </div>
<!-- endslick -->
            </div>
            <div class="result_analiz">
                <div class="visual">
                    <div class="numerous2">
                        <ul>
                            <li class="ed">1</li>
                            <li class="ed">2</li>
                            <li class="ed1">3</li>
                            <li class="ed1">4</li>
                            <li class="ed1">5</li>
                            <li class="ed1">6</li>
                            <li class="ed1">7</li>
                            <li class="ed1">8</li>
                            <li class="ed0">9</li>
                            <li class="mn">10</li>
                            <li class="mn">11</li>
                            <li class="mn">12</li>
                            <li class="mn">13</li>
                            <li class="mn">14</li>
                            <li class="mn1">15</li>
                            <li class="mn1">16</li>
                    
                            <li class="mn1">17</li>
                            <li class="mn1">18</li>
                            <li class="mn1">19</li>
                            <li class="mn1">20</li>
                            <li class="mn1">21</li>
                            <li class="mn">22</li>
                            <li class="mn">23</li>
                            <li class="mn">24</li>
                            <li class="mn1">25</li>
                            <li class="mn1">26</li>
                    
                            <li class="mn1">27</li>
                            <li class="mn1">28</li>
                            <li class="mn1">29</li>
                            <li class="mn1">30</li>
                            <li class="mn1">31</li>
                            <li class="mn1">32</li>
                            <li class="mn1">33</li>
                            <li class="mn1">34</li>
                            <li class="mn1">35</li>
                       
                            <li class="mn1">36</li>
                            <li class="mn1">37</li>
                            <li class="mn1">38</li>
                            <li class="mn1">39</li>
                            <li class="mn1">40</li>
                            <li class="mn1">41</li>
                            <li class="mn1">42</li>
                            <li class="mn1">43</li>
                            <li class="mn1">44</li>
                            <li class="mn1">45</li>
                            <li class="mn1">46</li>
                 
                            <li class="mn1">47</li>
                            <li class="mn1">48</li>
                            <li class="mn1">49</li>
                            <li class="mn1">50</li>
                        </ul>
                    </div>
                    <div class="vertical_num2">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                        </ul>
                    </div>
                    <canvas id="canvas_vis" width="1000px" height="400px"></canvas>
                </div>

                <script>
                 
                </script>
                <div class="define_visual">
                    
                </div>
                <div class="moving2">
                    <h2>Result Analiz</h2>
                    <button id="CutCheck">CutCheck</button>
                    <div class="result_code" id="result_code">
                        <!-- <p id="result_code_p">Successful</p> -->
                    </div>
                    <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem eligendi a, modi repellat quos et. Facere odit a amet laudantium!</p> -->
                </div>
              <style>
                .result_code{
                    margin:0 auto; 
                    width: 100px;
                    margin-top: 10px;
                    height: 100px;
                    border-radius: 50%;;
                    /* background-color: green; */
                    /* text-align: center; */
                    /* vertical-align: middle; */
                }
                /* #CutCheck{
                    padding
                } */
                #result_code_p{
                    font-size: 15px;
                    /* text-align: center; */
                }
              </style>
            </div>
       
        </div>
    </main>
   
     <footer></footer>

</body>
<script src="../js/jquery_commpress.js"></script>
<script src="../js/bio.js"></script>
<script src="../js/mouse.js"></script>


<!-- <script type="text/javascript" src="../js/jquery_commpress.js"></script> -->
<!-- <script type="text/javascript" src="../js/slick.js"></script> -->
<script src="../js/slick_move.js"></script>

</html>