<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>main</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/section_scss.css">
  
</head>

<body>

  <header>
    <div>
      <i class="fas fa-atom"></i>
      <p>Yarn Over</p>
    </div>
    <nav>
      <ul>
        <li><a href="./bio.html">Analiz</a></li>
        <li><a href="#">Jordane</a></li>
        <li><a href="#">Laine</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
<div class="main">
  <section class="titles">

    <h1>Yarn Over</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam maiores consectetur, laboriosam rerum obcaecati.</p>

  </section>

  <section class="container-boxes">
    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-fire"></i></a>
      </div>

      <div class="text">
        <a href="">
          <h3>The Teacher</h3>
          <p>The best teacher you can have, internationally renowned "hooker".</p>
        </a>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-seedling"></i></a>
      </div>

      <div class="text">
        <a href="">
          <h3>The Yarn</h3>
          <p>We will use only animal-friendly, fair-trade yarn. Only the best!</p>
        </a>
      </div>

    </div>

    <div class="box">

      <div class="icon">
        <a href=""><i class="fas fa-address-card"></i></a>
      </div>

      <div class="text">
        <a href="">
          <h3>The Group</h3>
          <p>Become a member, become family. Teamwork is everything.</p>
        </a>
      </div>

    </div>
  </section>
<div class="info_section">
    <div class="skw-pages">
        <div class="skw-page skw-page-1 active">
          <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
              <div class="skw-page__content"></div>
            </div>
          </div>
          <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
              <div class="skw-page__content">
                <h2 class="skw-page__heading">Skewed One Page Scroll</h2>
                <p class="skw-page__description">Just scroll down</p>
              </div>
            </div>
          </div>
        </div>
        <div class="skw-page skw-page-2">
          <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
              <div class="skw-page__content">
                <h2 class="skw-page__heading">Page 2</h2>
                <p class="skw-page__description">Nothing to do here, continue scrolling.</p>
              </div>
            </div>
          </div>
          <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
              <div class="skw-page__content"></div>
            </div>
          </div>
        </div>
        <div class="skw-page skw-page-3">
          <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
              <div class="skw-page__content"></div>
            </div>
          </div>
          <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
              <div class="skw-page__content">
                <h2 class="skw-page__heading">Page 3</h2>
                <p class="skw-page__description">The end is near, I promise!</p>
              </div>
            </div>
          </div>
        </div>
        <div class="skw-page skw-page-4">
          <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
              <div class="skw-page__content">
                <h2 class="skw-page__heading">Page 4</h2>
                <p class="skw-page__description">Ok, ok, just one more scroll!</p>
              </div>
            </div>
          </div>
          <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
              <div class="skw-page__content"></div>
            </div>
          </div>
        </div>
        <div class="skw-page skw-page-5">
          <div class="skw-page__half skw-page__half--left">
            <div class="skw-page__skewed">
              <div class="skw-page__content"></div>
            </div>
          </div>
          <div class="skw-page__half skw-page__half--right">
            <div class="skw-page__skewed">
              <div class="skw-page__content">
                <h2 class="skw-page__heading">Epic finale</h2>
                <p class="skw-page__description">
                  Feel free to check 
                  <a class="skw-page__link" href="https://codepen.io/suez/pens/public/" target="_blank">my other pens</a> and follow me on 
                  <a class="skw-page__link" href="https://twitter.com/NikolayTalanov" target="_blank">Twitter</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


</div>
<!-- FOOTER -->
<div class="body_footer">
<footer class="footer">
    <div class="waves">
      <div class="wave" id="wave1"></div>
      <div class="wave" id="wave2"></div>
      <div class="wave" id="wave3"></div>
      <div class="wave" id="wave4"></div>
    </div>
    <ul class="social-icon">
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item"><a class="social-icon__link" href="#">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="#">About</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>&copy;2021 Nadine Coelho | All Rights Reserved</p>
  </footer>
</div>


</body>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- scss -->
<script src="../js/jquery_commpress.js"></script>
<script src="../js/info_section.js"></script>

</html>